/*nav bar*/
#nav {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

#nav a {
	float: left;
	display: block;
	color: red;
	text-align: center;
	padding: 15px;
	padding-right: 30px;
	font-family: 'Chonburi', cursive; /*Links in external google fonts*/
	text-decoration: none;
	font-size: 1.2em;
	color: white;
}

#nav a:hover {/* Changes the color and font style when mouse hovers over nav links*/
	color: #C88545;
	font-style: italic;
}

#counter { /*All styles applied to the countdown on the home page*/
	color: #C88545;
	float: center;
	font-family: 'Codystar', cursive;
	font-size: 58px;
	text-align: center;
	font-weight: bold;
	margin: 30px auto;
	border-radius: 25px;
	padding: 20px;
	letter-spacing: -2px;
	font-weight: bold;
	background: rgba(0, 0, 0, .5);
	width: 90%;
}

/*Pulls in google fonts sets up colors, margins, and padding for headings*/

h1 {
	text-align: center;
	color: white;
	font-family: 'Chonburi', cursive;
	letter-spacing: -5px;
	font-size: 72px;
	margin-bottom: 0;
	padding-bottom: 20px;
	border-radius: 25px;
	padding-top: 20px;
}

h2 {
	color: white;
	font-family: 'Chonburi', cursive;
	font-size: 2em;
	margin: 0;
}

h3 {
	font-family: 'Chonburi', cursive;
	color: #333;
}

#wrapper {/* Sets up the size of the wrapper where the content is displayed. Also displays the background image. */
	margin-top: 70px;
	background: url(phoenix2.jpg);
	background-size: cover;
	opacity: 20%;
	box-shadow: 2px 2px 1px #aaa;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	padding: 100px;
	padding-bottom: 200px;
	padding-top: 50px;
}

audio { /*Hides the audio element and only pulls from the button*/
	display: none;
}

p.mainscreen {
	text-align: center;
	font-family: 'Shrikhand', cursive;
	color: white;
	font-size: 32px;
	font-weight: bold;
	padding: 15px;
	margin: 0;
	padding-bottom: 75px;
}

a {
	font-size: 32px;
	font-family: arial;
	font-weight: bold;
}

button {
	font-size: 30px;
	font-family: arial;
	color: black;
	font-weight: bold;
	background-color: #BA5C0B;
	border-radius: 50px;
	color: white;
	display: block;
	margin: 0 auto;
	padding: 20px;
}

button:hover {
	background-color: #C9CACE;
}

footer {
	text-align: center;
	color: grey;
	margin-top: 150px;
}


/*Boxes holding content*/

#contentBox {
	background-color: white;
	color: #333;
	width: 100%;
	border-radius: 25px;
	padding: 20px;
	margin: 15px auto;
	overflow: auto; /*Allows for floated objects to stay in this parent element.*/
}

p {
	font-family: georgia;
	line-height: 1.5em;
}

/*Table settings*/

table {
	border-color: #333;
	border: solid 1px;
	border-collapse: collapse;
	margin: 10px auto;
}

td, /*displays the border between cells and spaces out the cells.*/
th {
	padding: 10px;
	border-color: #333;
	border: solid 1px;
	text-align: center;
}

/*images*/

#chapel {
	height: 200px;
	width: 150px;
	float: left;
	margin: 10px;
	width: 20%;
}

#AZHS {
	width: 25%;
	float: left;
	margin: 10px;
}

p.whereText {
	float: left;
	width: 70%;
	font-family: georgia;
	line-height: 1.5em;
}

/*RSVP form*/

form {
	display: inline-block;
	font-family: georgia;
	color: #333;
}

label {
	float: left;
	display: block;
	width: 8em;
	padding-right: 1em;
}

input {
	display: block;
	margin-bottom: 1em;
}

textarea { /*Brings the text area box in line for the form*/
	display: block;
	margin-bottom: 1em;
}

#mySubmit {
	margin: 10px;
}
